<%- include("partials/header"); -%>

<!-- ---------------Introduction Section------ -->
<div class="container">
  <div class="home-content glassmorphism-bg">
    <h1>Home</h1>
    <p class="home-starting-content"><%= homeStartingContent %></p>
  </div>
</div>

<!-- ----------------All Blogs Section----------  -->
<section>
  <div class="container">
    <div class="all-blogs">Recent Blogs</div>
    <div class="row section-me">
      <% posts.forEach(function(post){ %>
      <div class="post col-md-12 col-sm-12 col-lg-3 glassmorphism-bg">
        <div class="post-title">
          <span><%= post.title %></span>
        </div>
        <div class="post-content">
          <p>
            <%= post.content + "..." %>
            <a href="/posts/<%= post.title%>">Read More...</a>
          </p>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</section>

<%- include("partials/footer"); -%>
